node_modules

# Nextjs
.pnp
.pnp.js
coverage
.next

# Output
dist
dist-ssr
out
build
resurface.zip

# Local env files
.env*.local
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.vscode/*
!.vscode/extensions.json
.idea
.vercel
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem
