@font-face {
  font-family: "Horizon";
  src: url("/fonts/Horizon.otf") format("opentype");
}

@font-face {
  font-family: "Albra";
  src: url("/fonts/AlbraMedium.otf") format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
}

:root {
  --font-family-body: "Helvetica", "Arial", sans-serif;
  --font-size-body: 1.05rem;

  --font-family-heading: "Horizon", sans-serif;
  --font-size-heading: 3rem;

  --font-family-subheading: "Albra", sans-serif;
  --font-size-subheading: 1.5rem;
  --font-weight-subheading: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  color: var(--cc-colour-deepsea);
  background-color: var(--cc-colour-sand);
}

main {
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: dotted underline;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-subheading);
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-subheading);
}

ul li,
ol li {
  margin-bottom: 8px;
}

button {
  background-color: var(--cc-colour-deepsea);
}
