.container main {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 64px;
}

/* Mobile */
@media only screen and (max-width: 378px) {
  .container main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
