.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: rgba(245, 239, 228, 0.9);
}

.header .navLinks {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;
}
